* {
  box-sizing: border-box;
}
.homeH {
  background-color: rgba(110, 1, 1, 0) !important;
  position: absolute;
  top: 800px;
  left: 20%;
  display: inline;
  border: #5f5f5f 2px solid;
  background-color: white !important;
  width: 60%;
  padding: 30px;
  text-align: center;
  border-radius: 30px;
  margin-bottom: 50px;
}

.bottons {
  border-radius: 10% !important;
  margin: 10px;
  color: white !important;
  font-size: 20px !important;
}

.sign {
  margin: 3%;
  border: #dddddd 2px solid;
  padding: 2% !important;
  border-radius: 15px !important;
  background-color: #afafaf13;
  display: inline;
  float: left;
  width: 43.5%;
  height: 400px;
}

input {
  margin: 10px !important;
  border-radius: 10px;
  border: rgb(156, 156, 156) solid !important;
  padding: 3px;
}

.cover {
  height: 700px;
  /* background-color: black; */
  background-color: #191d24 !important;
}

.mainTitle {
  color: rgba(255, 255, 255, 0.918);
  position: absolute;
  top: 450px;
  margin-left: 38%;
  letter-spacing: 12px;
  font-size: 55px;
}

.img {
  margin-top: 150px;
  margin-left: 34.5%;
  border: none;
}

.a {
  text-decoration: none;
  margin-top: 150px;
  margin-left: 45%;
}

.buttn {
  color: #191d24 !important;
}
.buttn:hover {
  box-shadow: 0px 0px 10px #00bba7;
}
